main {
    max-width: 1200px;
    width: 100%;
    max-height: 100vh;
    height: 100%;
/*     display: flex;
    flex-direction: column; */
}

img {
    width: 600px;
    height: 400px
}

.photo-section__img {
    display: flex;
    justify-content: center;
}


.contact-form {
    display: flex;
    justify-content: center;
}

textarea,
input {
    max-width: 400px;
    width: 100%;
    margin: 10px;
    outline: none;
}

textarea:focus, input:focus {
    outline: none;
}

textarea:hover, input:hover, button:hover {
    border-color: rgb(55, 131, 202, 0.4);
    cursor: auto;
}

textarea:active, input:active, button:active {
    background-color: rgb(55, 131, 202, 0.4);
    border: none;
    cursor: auto;
}

input::placeholder, textarea::placeholder {
    font-family: 'Vollkorn', serif;
    color: rgb(55, 131, 202, 0.7);
    font-size: 18px;
}


button {
    width: 125px;
    height: 50px;
    background-color: white;
    border: 1px solid rgb(0, 0, 0, 0.7);
    border-radius: 5px;
    position: relative;
        bottom: 40px;
    font-family: 'Vollkorn', serif;
    color: rgb(55, 131, 202, 0.7);
    font-size: 18px;
}