main {
    max-width: 1200px;
    width: 100%;
    max-height: 100vh;
    height: 100%;
/*     display: flex;
    flex-direction: column; */
}

img {
    width: 600px;
    height: 400px
}

.photo-section__img {
    display: flex;
    justify-content: center;
}


.contact-form {
    display: flex;
    justify-content: center;
}

textarea,
input {
    max-width: 400px;
    width: 100%;
    margin: 10px;
    outline: none;
}

textarea:focus, input:focus {
    outline: none;
}

textarea:hover, input:hover, button:hover {
    border-color: rgb(55, 131, 202, 0.4);
    cursor: auto;
}

textarea:active, input:active, button:active {
    background-color: rgb(55, 131, 202, 0.4);
    border: none;
    cursor: auto;
}

input::placeholder, textarea::placeholder {
    font-family: 'Vollkorn', serif;
    color: rgb(55, 131, 202, 0.7);
    font-size: 18px;
}


button {
    width: 125px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0, 0.7);
    border-radius: 5px;
    position: relative;
    left: 50px;
}

/* ======= HEADER: PLACEMENT/SIZE/GENERAL STYLING ======*/
header {
    min-height: 100px;
    margin: auto;
    padding: 20px;
    background-color: rgba(55, 131, 202, 0.7);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav__list {
    font-family: 'Lilita One', cursive;
    list-style-type: none;
    display: flex;
}

.header__nav__list__item {
    color: rgb(0, 0, 0);
    padding: 20px;
}

/* Footer Styles */
footer {
    max-width: 1500px;
    width: 100%;
    min-height: 100px;
    margin: auto;
    background-color: rgba(55, 131, 202, 0.4);
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__address-sec {
    height: 80px;
    width: 300px;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

.footer__address-sec__text {
    font-size: 14px;
    text-align: center;
    line-height: 2;
    color: rgba(000, 000, 000);
}

.footer__news-form {
    display: flex;
    justify-self: center;
    flex-direction: column;
}

.footer__heading{
    color: rgba(000, 000, 000);
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
}

.footer__news-form__label--email {
    margin-right: 10px;
    font-size: 14px;   
}

.footer__news-form__input--email[type="email"] {
    height: 30px;
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

.footer__news-form__btn--send[type="submit"] {
    border: 1px solid #444;
    color: rgba(000, 000, 000);
    padding: 3px 8px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;  
    background-color: rgba(55, 131, 202, 0.4);
}

.footer__news-form__btn--send[type="submit"]:hover {
    background-color: none;
    border: 1px solid  rgba(55, 131, 202, 0.4);
    cursor: auto; 
}

.footer__news-form__btn--send[type="submit"]:active {
    background-color: rgba(55, 131, 202, 0.4);
    border: none;
    cursor: auto; 
}
