body {
    max-width: 1440px;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    margin: auto;
}

header {
    min-height: 50px;
    background-color: #3783ca;
    display: flex;
    justify-content: flex-end;
    
}

.header__nav {
   
}

.header__nav__list { /* --- UL-list -----*/
    
}

.header__logo {
    width: 20%;
}