body {
    max-width: 1500px;
    width: 100%;
    min-height: 1200px;
    background-color: rgba(255, 255, 255, 1);
    margin: auto;
}

/* Menu Styles */
.menu {
    margin: auto;
    font-family: 'Vollkorn', serif;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.menu__heading{
    font-family: 'Lilita One', cursive;
    font-size: large;
}

.menu__heading__fish h2,
.menu__heading__seafood h2,
.menu__heading__dessert h2{
    font-family: 'Bree Serif', serif;
    margin-top: 60px;
    font-size: 25px;
}

.menu__content__fish {
    line-height: 2;
    display: flex;
    flex-direction: column;
    max-width:700px;
    width:100%; 
}

.menu__content__seafood {
    line-height: 2;
    display: flex;
    flex-direction: column;
    max-width:700px;
    width:100%; 
}

.menu__content__dessert {
    line-height: 2;
    display: flex;
    flex-direction: column;
    max-width:700px;
    width:100%;
}

/*gallery  */

.menu__slider{
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
}

 img {
    width: 400px;
    height: auto;
 }


/* ======= HEADER: PLACEMENT/SIZE/GENERAL STYLING ======*/
header {
    min-height: 100px;
    margin: auto;
    padding: 20px;
    background-color: rgba(55, 131, 202, 0.7);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav__list {
    font-family: 'Lilita One', cursive;
    list-style-type: none;
    display: flex;
}

.header__nav__list__item {
    color: rgb(0, 0, 0);
    padding: 20px;
    font-size: 28px;
}

/* Footer Styles */
footer {
    max-width: 1800px;
    width: 100%;
    min-height: 100px;
    margin: auto;
    background-color: rgba(55, 131, 202, 0.4);
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__address-sec {
    height: 80px;
    width: 300px;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

 }

.footer__address-sec__text {
    font-size: 14px;
    text-align: center;
    line-height: 2;
    color: black;
    font-family: 'Vollkorn', serif;
}

.footer__news-form {
    display: flex;
    justify-self: center;
    flex-direction: column;
}

.footer__heading{
    color: black;
    font-weight: bold;
    font-family: 'Lilita One', cursive;
}

.footer__news-form__label--email {
    margin-right: 10px;
    font-size: 14px;   
}

.footer__news-form__input--email[type="email"] {
    height: 30px;
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    font-family: 'Vollkorn', serif;
}

.footer__news-form__btn--send[type="submit"] {
    border: 1px solid #444;
    color: black;
    padding: 3px 8px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;  
    background-color: rgba(55, 131, 202, 0.4);
    font-family: 'Vollkorn', serif;
    width: 125px;
    height: 50px;
}

.footer__news-form__btn--send[type="submit"]:hover {
    background-color: none;
    border: 1px solid  rgba(55, 131, 202, 0.4);
    cursor: auto; 
}

.footer__news-form__btn--send[type="submit"]:active {
    background-color: rgba(55, 131, 202, 0.4);
    border: none;
    cursor: auto; 
}
